/bitcoin/lesson_1/node_modules/
/bitcoin/lesson_2/node_modules/
/bitcoin/lesson_5/node_modules/
/bitcoin/lesson_6/node_modules/
/bitcoin/project_1_v2_boilerplate/node_modules/
/ethereum/lesson_1/node_modules/
/ethereum/lesson_1-2/node_modules/